@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/normalize";
@import "../../assets/styles/themes";
@import "../../assets/styles/animations";

.opinions {
  display: flex;
  border-radius: 3px;
  height: 64px;
  width: 100%;
  overflow: hidden;
  &__scale {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
}
